
.gitignore
.idea/
lib/
/src/test/java/com/example/ExampleTests.java
target/generated-sources/
target/generated-test-sources/
target/surefire-reports/
target/test-classes/com/example/ExampleTests.class
