<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>System Kuriersko - Logistyczny </title>
  <link rel="stylesheet" th:href="@{/css/style.css}"/>
  <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
  <!--<script type="application/javascript" th:src="../static/scripts/jquery-3.1.1.js"></script>-->
  <!--<script type="application/javascript" th:src="../static/scripts/jquery-ui.js"></script>-->
  <!--<script type="application/javascript" th:src="../static/scripts/scripts.js"></script>-->
</head>
<body style="background-image:url(/images/bg.jpg)">

<div id="page">
  <nav class="ober-nav" role="navigation">
    <div class ="row">
      <div class = "col-xs-2">
        <div id="ober-logo"><a href = "index.jsp"><span>SKL</span></a></div>
      </div>
      <div class="col-xs-10 text-right menu-1">
        <ul>
          <li class ="active"><a href="/">Strona Główna</a></li>
          <li><a href="">Nadaj paczkę</a></li>
          <li><a href="">Znajdź paczkę</a></li>
          <li><a href="">Panel Uzytkownika</a></li>
          <li class="btn-cta" id="regBtn"><a href = ""><span>Rejestracja</span></a></li>
        </ul>
      </div>
    </div>
  </nav>
  <header id="ober-header" class="ober-cover">
    <div class = "container">
      <div class = "col-md 8 col-md-offset-2 textcenter">
        <p id="chuj">Rejestracja</p>
        <form class="form-block" id="ober-header-form" th:object="${register}"  method="post" >
          <input type="text" class="form-control" name="username" placeholder="Login" th:value="*{username}"/>
          <input type="password" class="form-control" name="password" placeholder="Hasło" th:value="*{password}"/>
          <input type="email" class="form-control" name="email" placeholder="Email" th:value = "*{email}"/>

          <input type="submit" class="btn btn-success" name="submit" id="registerBtn">Zarejestruj się</input>
        </form>


      </div>
    </div>
  </header>
</div>
</body>
</html>
