.ober-nav{
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
    width: 99%;
    padding: 40px 0;

}
.ober-nav a{
    padding:0px 0px;
    color:white;
}
.ober-nav ul{
    padding:0;
    margin:2px 0 0 0;
}
.ober-nav ul li{
    padding: 0;
    margin:0;
    list-style: none;
    display: inline;
}
.ober-nav ul li a {
    font-size: 16px;
    padding: 30px 10px;
    color:white;

}

body{
    background-size: cover;
}
#ober-logo span {
    background: white;
    color: black;
    font-size: 20px;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 40px;
    margin: 0px 100px;;
}
.ober-nav ul li.btn-cta a span {
    background: #ec685b;
    padding:10px 20px;
    display: inline-block;
    border-radius: 40px;

}


#ober-header {
    width: 600px;
    padding: 250px 0px 0px  0px;
    position: relative;
    margin-left: 600px;
    color: white;

}


#ober-header p{
    font-size: 54px;

}
#ober-header-form{
    padding: 0px 690px 0px 0px;
}
#loginBtn{
    float: right;
    border-radius: 40px;
    margin: 5px;
}
#regForm{
  display: none;
  border: solid;
  background-color: black;
  color:white;
}
/*
#ober-header-form {
	padding: 0px 0px 0px 0px;

}
#ober-header-form .form-group {
	position: relative;
    display: inline-block
}
*/
